################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transware.BlazorTest/UI/Transware.UI/obj/Debug/net8.0
/.vs
/Transware.BlazorTest/.vs/Transware.BlazorTest
/Transware.BlazorTest/API/Transware.API/Transware.API.csproj.user
/Transware.BlazorTest/API/Transware.API.Model/bin/Debug/net8.0
/Transware.BlazorTest/API/Transware.API.Model/obj
*.user
/Transware.BlazorTest/API/Transware.API/bin/Debug/net8.0
/Transware.BlazorTest/API/Transware.API/obj
/Transware.BlazorTest/DB/Transware.Entities/bin/Debug/net8.0
/Transware.BlazorTest/DB/Transware.Entities/obj
/Transware.BlazorTest/UI/Transware.UI/bin/Debug/net8.0
/Transware.BlazorTest/UI/Transware.UI/obj
/Transware.BlazorTest/DB/Transware.DB/obj
/Transware.BlazorTest/DB/Transware.DB/bin/Debug/net8.0
